@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100;1,300;1,400&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
  }
/*-----------------------------------------------Colours*/

body{
    background-color: #696969;
}
/*-----------------------------------------------General*/
.uppercase{
    text-transform: uppercase;
}


/*-----------------------------------------------Heading*/
header{
    margin:0;
}

#logo{
    font-family: 'Road Rage', cursive;
    font-size: 200%;
    text-decoration: none;
    color:#fafafa;
    float:left;
    letter-spacing: 3px;
    margin-left:30px;
    
}
#logo:hover{
    color:red;
}

#hero-image{
    height: 500px;
    width:100%;
    background-image:url("../images/rosie.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

#hero-section{
    height: 500px;
    width:100%;
    overflow:hidden;
}

#nav{
    background-color: #000;
    font-size:120%;
    list-style-type:none;
}

@media screen and (min-width: 641px) {
    #nav {
      font-size: 80%;
    }
  }

#nav a{
color: #fafafa;
font-size: 1.2em;
text-decoration: none;
font-family: 'Roboto';
}

#nav li{
    float:right;
    margin-right: 40px;
}
#logo, #nav{
    line-height:75px;
}