@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100;1,300;1,400&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
  }
/*-----------------------------------------------Colours*/

body{
    background-color: #000;
}
/*-----------------------------------------------General*/
.uppercase{
    text-transform: uppercase;
}
iframe {
    display: block;
    margin: 0 auto;
    border:0;
 }
/*-----------------------------------------------Heading*/
header{
    margin:0;
}

#logo{
    font-family: 'Road Rage', cursive;
    font-size: 140%;
    text-decoration: none;
    color:#fafafa;
    float:left;
    letter-spacing: 3px;
    margin-left:30px;
    
}

#hero-image{
    height: 350px;
    width:100%;
    background-image:url("../images/racketears-hero.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

#hero-section{
    height: 350px;
    width:100%;
    overflow:hidden;
}

#nav{
    background-color: #000;
    font-size:90%;
    list-style-type:none;
    float:left;
    font-family: 'Roboto', sans-serif;
}



#nav a{
color: #fafafa;
font-size: 90%;
text-decoration: none;
font-family: 'Roboto', sans-serif;

}

#nav li{
    float:right;
    margin-right: 40px;
    /*display:inline;*/
}
#logo, #nav{
    line-height:75px;
}

/*-----------------------------------------------Hover*/
#logo:hover{
    color:#a19d9d;
}

#nav a:hover{
    color:#a19d9d;
}
a i:hover{
color:red;
}

/*-----------------------------------------------Media queries*/
@media screen and (min-width: 641px) {
    #nav{
      font-size: 120%;
    }
    #logo{
        font-size: 180px;
    }
    #hero-image, #hero-section{
        height:500px;

    }
  #social-header{
    margin-right: 30px;
    margin-top: 15px;
    font-size: 1.5em;
  }
  #iframe{
    width:600px;
  }
  #social-header-top{
      display:none;
    
  }

  }
  @media screen and (max-width: 640px){
      #social-header{
          display:none;
      }
  }
  @media screen and (max-width: 320px){
      #nav li{
          margin-right: 10px;
      }
      iframe{
          width:320px;
      }
  }

  /*-----------------------------------------------Banners*/
  #banner{
      width: 100%;
      height:350px;
      background-color:rgb(226, 226, 58);
      position:relative;
  }
  #cover-text{
      color:black;
      text-transform: uppercase;
      width: 70%;
      height:75%;
      background-color: rgba(0, 0, 0, 0.4);
      float:right;
      margin-top:80px;
      position:absolute;}

      h2{
          
          font-size: 110%;
          
      }

   *, ::after, ::before {
    box-sizing: border-box;
   }
  
  /*-----------------------------------------------Social*/
  #social-header{
      float:right;
  }
  #social-header i{
    color:#fafafa;
  }
  #social-header-top{
    float:right;
    margin-right: 10px;
}
   /*-----------------------------------------------Footer*/
   footer{
       color:#fafafa;
       min-height: 110px;
       padding-top: 20px;
       font-weight: 200;
   }

   footer h6, p{
       font-family: 'Roboto', sans-serif;
   }
.inline-block{
    display:inline-block;
}

.footer-col-small{
    font-size: 85%;
}

.block{
    display:block;
}

#social-footer>i{
    color:#fafafa;
  }

i{
    color:#fafafa;
}
 
header>i:hover{
    color:aquamarine;
}


