@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100;1,300;1,400&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
  }
/*-----------------------------------------------Colours*/
body {
    background-color: #000;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 1.6rem;
}
/*-----------------------------------------------General*/
.uppercase {
    text-transform: uppercase;
}
iframe {
    display: block;
    margin: 0 auto;
    border:0;
    padding:1rem;
 }
/*-----------------------------------------------Heading*/
header {
    margin:0;
}
#logo {
    font-family: 'Road Rage', cursive;
    font-size: 140%;
    text-decoration: none;
    color:#fafafa;
    float:left;
    letter-spacing: .3rem;
    margin-left:3rem;
    
}

#nav {
    background-color: #000;
    font-size:90%;
    list-style-type:none;
    float:left;
    font-family: 'Roboto', sans-serif;
}
#nav a {
color: #fafafa;
font-size: 90%;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}
#nav li {
    float:right;
    margin-right: 4rem;
    font-size: 1.5rem;
    /*display:inline;*/
}
#logo, #nav {
    line-height:7.5rem;
}

/*-----------------------------------------------Hero images*/

#hero-image {
    height: 35rem;
    width:100%;
    background-image:url("../images/racketears-hero.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#hero-section {
    height: 35rem;
    width:100%;
    overflow:hidden;
}

/*-----------------------------------------------Hover*/
#logo:hover {
    color:#a19d9d;
}
#nav a:hover {
    color:#a19d9d;
}
/*-----------------------------------------------Media queries*/
@media screen and (min-width:1020px) {
#nav {
     font-size:120%;
   ;
    }

#logo {
        font-size: 18rem;
       
     }
#hero-image, #hero-section {
 height:50rem;
   }

#iframe {
  width:60rem;
  }
}

  /*-----------------------------------------Gallery media queries*/
  @media screen and (max-width: 992px) !important {
 #gallery {
    clear:both;
    line-height: 0;
    column-count:4;
    column-gap:0;
  }
  .banner-gallery{
     width:50%; 
}
 .audio{
     display:inline-block;
 }
}



  /*-----------------------------------------------Banners*/
  .banner {
      width: 100%;
      height:35rem;
      background-color:rgb(226, 226, 58);
      position:relative;
  }
  #cover-text {
      font-family: 'Roboto', sans-serif;
      color:black;
      text-transform: uppercase;
      width: 85%;
      height:75%;
      background-color: rgba(0, 0, 0, 0.3);
      float:right;
      margin-top:8rem;
      position:absolute;
      padding:3%;
      font-weight: 900;
      letter-spacing: .2rem;
      text-align: right;
    }
    #cover-text-2 {
        font-family: 'Roboto', sans-serif;
        color:black;
        text-transform: uppercase;
        width: 85%;
        height:85%;
        background-color: rgba(0, 0, 0, 0.3);
        float:right;
        margin-top:4rem;
        position:absolute;
        padding:3%;
        font-weight: 900;
        letter-spacing: .2rem;
        text-align: left;
      }
    #cover-text p {
        padding:3%;
        font-weight: 500;
    }
    #cover-text h2 {
          font-size: 110%; 
          padding:.3rem;
      }
   *, ::after, ::before {
    box-sizing: border-box;
   }
  
   /*-----------------------------------------------Footer*/
   footer {
       font-family: 'Roboto', sans-serif;
       color:#fafafa;
       min-height: 11rem;
       padding-top: 2rem;
       font-weight: 200;
       border-top: solid 1px #fafafa;
       margin-top:1rem;
   }
   footer h6, p{
       font-family: 'Roboto', sans-serif;
       font-size: 1.6rem;
   }
.footer-col-small {
    font-size: 1.3rem !important;
}
.inline-block{
    display:inline-block;
}
.footer-col-small{
    font-size: 95%;
}
.block{
    display:block;
}
.footer-social {
    width: 100%;
}
.footer-social-item {
    width: 30%;
}
#social-footer>i{
    color:#fafafa;
  }
i{
    color:#fafafa;
}
.fab, .far {
    font-weight: 400;
    font-size: xx-large;
}
/*-----------------------------------------------Album covers*/
.album-covers img {
text-align: center;
height:25rem;
/*The following two properties were taken from https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/*/
display: flex;
justify-content: center;
margin:0 auto;
}
.album-covers div {
    margin:0 auto;
}
.album-covers p {
     text-align: center; 
     margin:0 auto;
     color:#a19d9d;
  
}
.album-background {
    border:1px solid #a19d9d;
    padding:1rem;
    margin-right: .5rem;
   
    
}
#albums {
    margin:0;
    padding:0;
}
/*-----------------------------------------------Images*/
#band-image {
    height: 45rem;
    width:100%;
    background-image:url("../images/band-group-1.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#band-section {
    height: 45rem;
    width:100%;
    overflow:hidden;
}
/*-----------------------------------------------Gallery*/
.audio p {
    font-family: 'Roboto';
   color:#fafafa;
   clear:both;
  
}

#gallery {
    clear:both;
    line-height: 0;
    column-count:2;
    column-gap:0;
  }
  #gallery img{
    width:100%;
  }

  